/* Header: Digital Wallet */
#main-header{
    color: rgb(13, 88, 13);
    padding-top: 30px;
} 

/* Hide all error msgs initially */
/* #notify-save {
    display: none;
} 

#notify-expenses {
    display: none;
} 

#notify-neg {
    display: none;
} 

#notify-string {
    display: none;
}  */

.notify {
    display: none;
}




